body{
    width:50%;
}

.text1{
    background-color:lightblue;
    margin-top:auto;
}

.para{
    background-color: lightblue;
    margin-top:auto;
}

.para2{
background-color: lightblue;
margin-top:auto;
}

#button{
background-color:white;

}