body{
    width:50%;
}

.text1{
    background-color:lightblue;
    margin-top:auto;
}

.para{
    background-color: lightblue;
    margin-top:auto;
}

.para2{
background-color: lightblue;
margin-top:auto;
text-align:center;
margin-bottom:50px;
}

button{
background-color:white;
border:1px solid white;
margin:32px;
}